body {
    font-size: 15px;
    font-family: Comic Sans MS;
    color: black;
}

.tabel {
	padding: 40px;
    margin: 0 auto;
    background: rgba(160, 160, 160, 0.7);
    box-shadow: 0 15px 10px rgba(0,0,0,.5);
    width: 430px;
    font-size: 20px;
    border-radius: 10px;
}

.container {
    font-size: 36px;
    text-align: center;
}